header {
  display: flex;
  width: 100%;
  padding: 30px;
  heigth: 40px;
  background: black;
  justify-content: space-between;
}

header strong {
  color: #fff
}

header a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
  color: gray;
}

